<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangshangban.transit_service.dao.ChangePhoneMapper">
	<resultMap id="BaseResultMap"
		type="com.xiangshangban.transit_service.bean.ChangePhone">
		<id column="id" property="id" />
		<result column="old_phone" property="oldPhone" />
		<result column="new_phone" property="newPhone" />
		<result column="user_name" property="userName" />
		<result column="post_name" property="postName" />
		<result column="company_id" property="companyId" />
		<result column="company_name" property="companyName" />
		<result column="user_id" property="userId" />
		<result column="approval_person_id" property="approvalPersonId" />
		<result column="approval_person_name" property="approvalPersonName" />
		<result column="verification_code" property="verificationCode" />
		<result column="create_time" property="createTime" />
		<result column="verification_status" property="verificationStatus" />
	</resultMap>

	<sql id="Base_Column_List">
		id, old_phone, new_phone, user_name, post_name, company_id,
		company_name, user_id, approval_person_id, approval_person_name,
		verification_code, create_time, verification_status
	</sql>

	<select id="selectOneByApprovalPersonId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from change_phone
		wherer approval_phone_id = #{approvalPhoneId} and verification_status = '0'
	</select>
	
	<insert id="insertActiviti" parameterType="com.xiangshangban.transit_service.bean.ChangePhone">
		insert into change_phone
	<trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oldPhone != null">
        old_phone,
      </if>
      <if test="newPhone != null">
        new_phone,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="postName != null">
        post_name,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="approvalPersonId != null">
        approval_person_id,
      </if>
      <if test="approvalPersonName != null">
        approval_person_name,
      </if>
      <if test="verificationCode != null">
        verification_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="verificationStatus != null">
        verification_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     <if test="id != null">
        #{id},
      </if>
      <if test="oldPhone != null">
        #{oldPhone},
      </if>
      <if test="newPhone != null">
        #{newPhone},
      </if>
      <if test="userName != null">
        #{userName},
      </if>
      <if test="postName != null">
        #{postName},
      </if>
      <if test="companyId != null">
        #{companyId},
      </if>
      <if test="companyName != null">
        #{companyName},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="approvalPersonId != null">
        #{approvalPersonId},
      </if>
      <if test="approvalPersonName != null">
        #{approvalPersonName},
      </if>
      <if test="verificationCode != null">
        #{verificationCode},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="verificationStatus != null">
        #{verificationStatus},
      </if>
    </trim>
	</insert>

</mapper>