<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.transit_service.dao.DepartmentMapper">
 
  <resultMap  type="com.xiangshangban.transit_service.bean.Department" id="Department" > 
    <result  property="departmentId" jdbcType="VARCHAR" column="department_id" />
    <result  property="departmentNumbe" jdbcType="VARCHAR" column="department_numbe" />   
    <result  property="departmentName" jdbcType="VARCHAR"  column="department_name"/>
    <result column="department_describe" jdbcType="VARCHAR" property="departmentDescribe" />
    <result  property="employeeId" jdbcType="VARCHAR" column="employee_id"/>    
    <result  property="departmentPhone" jdbcType="VARCHAR" column="department_phone"/>
    <result  property="departmentFax" jdbcType="VARCHAR" column="department_fax"/>
    <result  property="departmentParentId" jdbcType="VARCHAR" column="department_parent_id"/>
    <result  property="departmentParentName" jdbcType="VARCHAR" column="department_parent_name"/>   
    <result  property="companyId" jdbcType="VARCHAR" column="company_id"/> 
    <result  property="companyName" jdbcType="VARCHAR" column="company_name"/>    
    <result  property="CountNumber" jdbcType="VARCHAR" column="Count_number"/>
    <result  property="employeeName" jdbcType="VARCHAR" column="employee_name"/>
 
    
 </resultMap>
  
  <sql id="Base_Column_List"> 
    department_id,department_numbe, department_name, department_describe, department_principal
  </sql>
  
  <insert id="insertDepartment" parameterType="com.xiangshangban.transit_service.bean.Department">   
    insert into organization.department_ (department_id, department_name, 
      department_parent_id,company_id,status
      )
    values (
      #{departmentId,jdbcType=VARCHAR},
      #{departmentName,jdbcType=VARCHAR}, 
      #{departmentParentId,jdbcType=VARCHAR},                     
      #{companyId,jdbcType=VARCHAR},'1' 
      )
  </insert>
 
</mapper>