<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.transit_service.dao.LoginMapper">
	<resultMap id="BaseResultMap" type="com.xiangshangban.transit_service.bean.Login">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="token" jdbcType="VARCHAR" property="token" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="create_time" jdbcType="VARCHAR" property="createTime" />
		<result column="effective_time" jdbcType="VARCHAR" property="effectiveTime" />
		<result column="session_id" jdbcType="VARCHAR" property="sessionId" />
		<result column="qrcode" jdbcType="VARCHAR" property="qrcode" />
		<result column="qrcode_status" jdbcType="VARCHAR" property="qrcodeStatus" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="client_id" jdbcType="VARCHAR" property="clientId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, phone, token, salt, create_time, effective_time, session_id, qrcode,
		qrcode_status, status, client_id
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_
		where id = #{id}
	</select>

	<select id="selectByToken" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_
		where status = '1' and token = #{token} order by create_time desc limit 1 offset 0
	</select>
	<select id="selectByQrcode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_
		where qrcode = #{qrcode}
	</select>
	<select id="selectByPhone" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_
		where phone = #{phone}
	</select>
	<select id="selectOneByPhone" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_
		where phone = #{phone}
		order by create_time desc
		limit 1 offset 0
	</select>
	<select id="selectOneByPhoneFromApp" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_
		where phone = #{phone} and client_id != 'web'
		order by create_time desc
		limit 1 offset 0
	</select>
	<select id="selectOneByPhoneFromWeb" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_
		where phone = #{phone} and client_id = 'web'
		order by create_time desc
		limit 1 offset 0
	</select>
	<select id="selectBySessionId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_
		where session_id = #{sessionId} and status = '1'
	</select>
	
	<select id="selectByTokenAndClientId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from login_
  	where status = '1' and token = #{token} and clientId = #{clientId}
  </select>

  <delete id="deleteById" parameterType="java.lang.String">
		delete from login_
		where id = #{id}
  </delete>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from login_
		where id = #{id} and
		<if test="clientId == 'web'">
			client_id = #{clientId}
		</if>
		<if test="clientId != 'web'">
			client_id !='web'
		</if>
	</delete>
	<insert id="insert" parameterType="com.xiangshangban.transit_service.bean.Login">
		insert into login_ (id, phone, token,
		salt, create_time, effective_time,session_id,qrcode,qrcode_status)
		values (#{id}, #{phone}, #{token},
		#{salt}, #{createTime}, #{effectiveTime},
		#{sessionId},#{qrcode},#{qrcodeStatus})
	</insert>
	<insert id="insertSelective" parameterType="com.xiangshangban.transit_service.bean.Login">
		insert into login_
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="token != null">
				token,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="effectiveTime != null">
				effective_time,
			</if>
			<if test="sessionId != null">
				session_id,
			</if>
			<if test="qrcode != null">
				qrcode,
			</if>
			<if test="qrcodeStatus != null">
				qrcode_status,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="clientId != null">
				client_id,
			</if>
				create_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="phone != null">
				#{phone},
			</if>
			<if test="token != null">
				#{token},
			</if>
			<if test="salt != null">
				#{salt},
			</if>
			<if test="effectiveTime != null">
				#{effectiveTime},
			</if>
			<if test="sessionId != null">
				#{sessionId},
			</if>
			<if test="qrcode != null">
				#{qrcode},
			</if>
			<if test="qrcodeStatus != null">
				#{qrcodeStatus},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="clientId != null">
				#{clientId},
			</if>
			to_char(now(),'yyyy-MM-dd hh24:mi:ss')
		</trim>
	</insert>
	<insert id="insertLoginSelective" parameterType="com.xiangshangban.transit_service.bean.Login">
		insert into login_
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="token != null and status=='1'">
				token,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="effectiveTime != null">
				effective_time,
			</if>
			<if test="token != null and status=='0'">
				session_id,
			</if>
			<if test="qrcode != null">
				qrcode,
			</if>
			<if test="qrcodeStatus != null">
				qrcode_status,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="clientId != null">
				client_id,
			</if>
				create_time,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="phone != null">
				#{phone},
			</if>
			<if test="token != null">
				#{token},
			</if>
			<if test="salt != null">
				#{salt},
			</if>
			<if test="effectiveTime != null">
				#{effectiveTime},
			</if>
			<if test="qrcode != null">
				#{qrcode},
			</if>
			<if test="qrcodeStatus != null">
				#{qrcodeStatus},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="clientId != null">
				#{clientId},
			</if>
			to_char(now(),'yyyy-MM-dd hh24:mi:ss')
		</trim>
	</insert>
	<update id="updateStatusByPhone" parameterType="java.lang.String">
		update login_
		set status = '0'
		where phone=#{phone} and status = '1'
	</update>
	<update id="updateStatusBySessionId" parameterType="java.lang.String">
		update login_
		set status = '0'
		where session_id=#{sessionId} and status = '1'
	</update>
	<update id="updateStatusById" parameterType="java.lang.String">
		update login_
		set status = '0'
		where id=#{id} and 
		<if test="clientId == 'web'">
			client_id = #{clientId}
		</if>
		<if test="clientId != 'web'">
			client_id !='web'
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="java.lang.String">
		update login_
		<set>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="token != null">
				token = #{token},
			</if>
			<if test="salt != null">
				salt = #{salt},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="effectiveTime != null">
				effective_time = #{effectiveTime},
			</if>
			<if test="sessionId != null">
				session_id = #{sessionId},
			</if>
			<if test="qrcode != null">
				qrcode = #{qrcode},
			</if>
			<if test="qrcodeStatus != null">
				qrcode_Status = #{qrcodeStatus},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="clientId != null">
				client_id = #{clientId},
			</if>
		</set>
		where id = #{id}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiangshangban.transit_service.bean.Login">
		update login_
		set phone = #{phone},
		token = #{token},
		salt = #{salt},
		create_time = #{createTime},
		effective_time = #{effectiveTime},
		session_id = #{sessionId},
		qrcode = #{qrcode},
		qrcode_status = #{qrcodeStatus}
		status = #{status},
		client_id = #{clientId}
		where id = #{id}
	</update>
</mapper>