<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.transit_service.dao.OSSFileDao">
<resultMap id="BaseResultMap" type="com.xiangshangban.transit_service.bean.OSSFile">
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="upload_time" jdbcType="VARCHAR" property="uploadTime" />
    <result column="upload_user" jdbcType="VARCHAR" property="uploadUser" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  
  <insert id="addOSSFile" parameterType="com.xiangshangban.transit_service.bean.OSSFile">
  	insert into ossfile
  	 <trim prefix="(" suffix=")" suffixOverrides=",">
  	 	<if test="key != null">
  	 		key,
  	 	</if>
  	 	<if test="customerId != null">
  	 		customer_id,
  	 	</if>
  	 	<if test="path != null">
  	 		path,
  	 	</if>
  	 	<if test="uploadTime != null">
  	 		upload_time,
  	 	</if>
  	 	<if test="uploadUser != null">
  	 		upload_user,
  	 	</if>
  	 	<if test="name != null">
  	 		name,
  	 	</if>
  	 	<if test="status != null">
  	 		status,
  	 	</if>
  	</trim>
  	  <trim prefix="values (" suffix=")" suffixOverrides=",">
  	  	<if test="key != null"> 
  	  		#{key},
  	  	</if>
  	  	<if test="customerId !=null ">
  	  		#{customerId},
  	  	</if>
  	  	<if test="path !=null">
  	  		#{path},
  	  	</if>
  	  	<if test="uploadTime != null">
  	  		#{uploadTime},
  	  	</if>
  	  	<if test="uploadUser != null">
  	  		#{uploadUser},
  	  	</if>
  	  	<if test="name != null">
  	  		#{name},
  	  	</if>
  	  	<if test="status != null">
  	  		#{status},
  	  	</if>
  	  </trim>
  </insert>
</mapper>