<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.transit_service.dao.UniqueLoginMapper">
	<resultMap type="com.xiangshangban.transit_service.bean.UniqueLogin" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column = "phone" property="phone"/>
		<result column = "session_id" property="sessionId"/>
		<result column = "token" property="token"/>
		<result column = "client_id" property="clientId"/>
		<result column = "status" property="status"/>
		<result column = "create_time" property="createTime"/>
	</resultMap>
	<sql id="Base_Column_List">
		id, phone, session_id, token, client_id, status, create_time
	</sql>
	
	<select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from unique_login
		where phone = #{phone}
	</select>
	
	<select id="selectBySessionId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from unique_login 
		where session_id = #{sessionId}
	</select>

	<select id="selectByTokenAndClientId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from unique_login 
		where token = #{token} and client_id = #{clientId}
	</select>
	
	<select id="selectByToken" parameterType="java.lang.String" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from unique_login 
		where token = #{token}
	</select>

	<insert id="insert" parameterType="com.xiangshangban.transit_service.bean.UniqueLogin">
	insert into unique_login
	(<include refid="Base_Column_List"/>)
	values (#{id},#{phone},#{sessionId},#{token},#{clientId},#{status},#{createTime})
	</insert>

	<delete id="deleteByPhoneFromApp" parameterType="java.lang.String">
		delete from unique_login where phone = #{phone} and status ='1'
	</delete>
	<delete id="deleteByPhoneFromWeb" parameterType="java.lang.String">
		delete from unique_login where phone = #{phone} and status = '0'
	</delete>
	<delete id="deleteByTokenAndClientId" parameterType="java.lang.String">
		delete from unique_login where token = #{token} and client_id = #{clientId}
	</delete>
	<delete id="deleteBySessinId" parameterType="java.lang.String">
		delete from unique_login where session_id=#{SessionId}
	</delete>





















</mapper>