<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.transit_service.dao.UpermissionMapper">
  <resultMap id="BaseResultMap" type="com.xiangshangban.transit_service.bean.Upermission">
    <id column="permissionid" jdbcType="VARCHAR" property="permissionid" />
    <result column="permissionurl" jdbcType="VARCHAR" property="permissionurl" />
    <result column="permissiondescribe" jdbcType="VARCHAR" property="permissiondescribe" />
  </resultMap>
  <sql id="Base_Column_List">
    permissionid, permissionurl, permissiondescribe
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_permission
    where permissionid = #{permissionid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from u_permission
    where permissionid = #{permissionid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiangshangban.transit_service.bean.Upermission">
    insert into u_permission (permissionid, permissionurl, permissiondescribe
      )
    values (#{permissionid,jdbcType=VARCHAR}, #{permissionurl,jdbcType=VARCHAR}, #{permissiondescribe,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xiangshangban.transit_service.bean.Upermission">
    insert into u_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionid != null">
        permissionid,
      </if>
      <if test="permissionurl != null">
        permissionurl,
      </if>
      <if test="permissiondescribe != null">
        permissiondescribe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionid != null">
        #{permissionid,jdbcType=VARCHAR},
      </if>
      <if test="permissionurl != null">
        #{permissionurl,jdbcType=VARCHAR},
      </if>
      <if test="permissiondescribe != null">
        #{permissiondescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.transit_service.bean.Upermission">
    update u_permission
    <set>
      <if test="permissionurl != null">
        permissionurl = #{permissionurl,jdbcType=VARCHAR},
      </if>
      <if test="permissiondescribe != null">
        permissiondescribe = #{permissiondescribe,jdbcType=VARCHAR},
      </if>
    </set>
    where permissionid = #{permissionid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiangshangban.transit_service.bean.Upermission">
    update u_permission
    set permissionurl = #{permissionurl,jdbcType=VARCHAR},
      permissiondescribe = #{permissiondescribe,jdbcType=VARCHAR}
    where permissionid = #{permissionid,jdbcType=VARCHAR}
  </update>
  <select id="selectByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from u_permission
	where permissionid in
	(select permissionid from u_roles_permission
	where roleid = 'a3b69966-befa-11e7-a869-00e04c682380')
  </select>
</mapper>