<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiangshangban.transit_service.dao.UusersMapper">
	<resultMap id="BaseResultMap" type="com.xiangshangban.transit_service.bean.Uusers">
		<id column="userid" jdbcType="VARCHAR" property="userid" />
		<result column="account" jdbcType="VARCHAR" property="account" />
		<result column="userpwd" jdbcType="VARCHAR" property="userpwd" />
		<result column="temporarypwd" jdbcType="VARCHAR" property="temporarypwd" />
		<result column="salt" jdbcType="VARCHAR" property="salt" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="last_login_time" jdbcType="DATE" property="lastLoginTime" />
		<result column="status" jdbcType="VARCHAR" property="status" />
	</resultMap>
	<sql id="Base_Column_List">
		userid, account, userpwd, temporarypwd, salt, phone, last_login_time, status
	</sql>
	<select id="selectRoles" parameterType="java.lang.String" resultType="java.lang.String">
		select rolename
		from u_roles
		where roleid in (
		select roleid
		from u_users_roles where userid = (select userid from u_users where phone
		= #{phone}))
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from u_users
		where status = '0' and userid = #{userid,jdbcType=VARCHAR}
	</select>
	<select id="selectByAccount" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from u_users
		where account = #{account,jdbcType=VARCHAR}
	</select>
	<select id="selectByPhone" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from u_users
		where phone = #{phone,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from u_users
		where userid = #{userid,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.xiangshangban.transit_service.bean.Uusers">
		insert into u_users (userid, account, userpwd,
		temporarypwd, salt, phone,
		last_login_time, status)
		values (#{userid,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR},
		#{userpwd,jdbcType=VARCHAR},
		#{temporarypwd,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
		#{lastLoginTime,jdbcType=DATE}, #{status,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.xiangshangban.transit_service.bean.Uusers">
		insert into u_users
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				userid,
			</if>
			<if test="account != null">
				account,
			</if>
			<if test="userpwd != null">
				userpwd,
			</if>
			<if test="temporarypwd != null">
				temporarypwd,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="lastLoginTime != null">
				last_login_time,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userid != null">
				#{userid,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="userpwd != null">
				#{userpwd,jdbcType=VARCHAR},
			</if>
			<if test="temporarypwd != null">
				#{temporarypwd,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				#{lastLoginTime,jdbcType=DATE},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.xiangshangban.transit_service.bean.Uusers">
		update u_users
		<set>
			<if test="account != null">
				account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="userpwd != null">
				userpwd = #{userpwd,jdbcType=VARCHAR},
			</if>
			<if test="temporarypwd != null">
				temporarypwd = #{temporarypwd,jdbcType=VARCHAR},
			</if>
			<if test="salt != null">
				salt = #{salt,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="lastLoginTime != null">
				last_login_time = #{lastLoginTime,jdbcType=DATE},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
		</set>
		where userid = #{userid,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.xiangshangban.transit_service.bean.Uusers">
		update u_users
		set account = #{account,jdbcType=VARCHAR},
		userpwd = #{userpwd,jdbcType=VARCHAR},
		temporarypwd = #{temporarypwd,jdbcType=VARCHAR},
		salt = #{salt,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		last_login_time = #{lastLoginTime,jdbcType=DATE},
		status = #{status,jdbcType=VARCHAR}
		where userid = #{userid,jdbcType=VARCHAR}
	</update>
	<update id="updateSmsCode">
		update u_users
		set temporarypwd = #{temporarypwd}
		where phone = #{phone}
	</update>
</mapper>