<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiangshangban.register.common.dao.UsersRolesMapper" >
  <resultMap id="BaseResultMap" type="com.xiangshangban.register.common.bean.UsersRoles" >
    <constructor >
      <arg column="userid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="roleid" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <insert id="insert" parameterType="com.xiangshangban.register.common.bean.UsersRoles" >
    insert into u_usersroles (userid, roleid)
    values (#{userid,jdbcType=VARCHAR}, #{roleid,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.xiangshangban.register.common.bean.UsersRoles" >
    insert into u_usersroles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 根据用户ID删除-->
  <delete id="deleteByUserId">
    delete from u_usersroles where userid =  #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteRoleByUserIds">
    delete from u_usersroles where userid in(#{userIds,jdbcType=VARCHAR})
  </delete>

  <!-- 根据用户roleId查询用户ID -->
  <select id="findUserIdByRoleId" resultType="long">
    select userid from u_usersroles where roleid =  #{id,jdbcType=BIGINT}
  </select>
</mapper>